<!doctype html>
<html>
<head>
	<title>Main Page</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
    <div class="container mt-4">
			<div class="row align-self-center justify-content-center">

				<div class="col-md-4 col-sm-12 jumbotron text-center">        
          <h1> Main Page</h1>

          <p>Login or Register below:</p>
<!--Navigation routes to other pages -->
					<div class="d-inline-block">
            <a href="/login" class="btn btn-primary"> Login</a>
            <a href="/register" class="btn btn-success"> Register</a>
					</div>

				</div>

			</div>
    </div>
</body>
</html>
