html
    include ../includes/header
    body
        include ../includes/navbar
        section(id="index-section")
            h1 Welcome to ATlantis
            p Login or register below
            div.button-group
                a.btn.btn-primary(href="/login") Login
                a.btn.btn-success(href="/register") Register
            

                