html
    include ../includes/header
    body
        include ../includes/navbar
        section(id="mainMenu")
            h1 Welcome to ATlantis
            p Start a video meeting and convert its audio into a text file.
            span
                i(class="fas fa-video")
                a(href='/roomName') Create a meeting
            span
                i(class="fas fa-sync-alt")
                form(method='post', enctype='multipart/form-data', action="/upload")
                    input(type='file', name='imageupload' id="file")
                    input(type='submit')

