html
    include ../includes/header
    body
        include ../includes/navbar
        section(id="mainMenu")
            h1 Welcome to ATlantis
            p Start a video meeting and convert its audio into a text file.
            a.btn.btn-outline-primary(href="/roomName")
                span.btn-label
                    i.fas.fa-video.btn-icon
                    span.btn-text Create a meeting
            span or
            span Convert english or korean audio to text:
            div
                form(method='post', enctype='multipart/form-data', action="/upload")
                    div.custom-file
                        input.custom-file-input(type='file', name='imageupload' id="file")
                        label.custom-file-label(for="file") Choose file (english)
                    button.btn.btn-success Convert
            div
                form(method='post', enctype='multipart/form-data', action="/uploadkorean")
                    div.custom-file
                        input.custom-file-input(type='file', name='imageupload' id="file")
                        label.custom-file-label(for="file") Choose file (korean)
                    button.btn.btn-success Convert
