html
    include ../includes/header
    body
        include ../includes/navbar
        section(id="roomNameInput-section")
            h1 Input name of room
            form(action="conferenceRoom" method="get")
                input(type='text' name='roomName' size='50')
                button.btn.btn-primary.button-group--right(type='submit') Create room