html
    head
        title= title
    body
        h1 roomName page
        p Input room Name
        form(action="conferenceRoom" method="get")
            input(type='text' name='roomName' size='50')