$fontSize: 1rem;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$dark:          $gray-800;
$light:         $gray-100;


$theme-colors: 
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "dark":       $dark,
    "light":      $light
  );

html {
    font-size: $fontSize;

}

body {
    display: flex;
    flex-direction: column;
}

#navbar-section {
    margin-bottom: 5rem;
    .navbar-header {
        font-size: 2rem;
    }
    .fas{
        font-size: 2rem;

    }
}

#index-section {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-self:center;
    align-items: center;
    .button-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    a{
        margin: 0.5rem 1rem;
    }
}

#login-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1rem;
    form {
        display: flex;
        flex-direction: column;
    }
    .rememberMe-label {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
    }
    .rememberMe-checkbox {
        height:20px;
        width:20px;
        vertical-align:middle;
        margin: 0 0.5rem;
    }

}

#register-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1rem;
    form {
        display: flex;
        flex-direction: column;
    }


}

#mainMenu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-self: center;
    h1 {
        align-self: center;
    }
    p {
        font-size: 1.5rem;
    }
    a {
        text-decoration: none;
        color: $dark;
        font-size: 1.2rem;
        padding: 0.5rem 0.5rem 0 0.5rem;
        &:hover {
            padding-left: 1rem;
            padding-right: 0;
        }
    }

    .fas {
        color: $primary;
    }


}

#roomNameInput-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        > * {
            margin: 0.1rem;
        }
    }


}


