section(id="navbar-section")
    nav.navbar.navbar-dark.bg-dark
        span.navbar-brand.mb-0.h1.navbar-header AT
        ul.navbar-nav.ml-auto
            li.nav-item
                a.nav-link(href="/")
                    i.fas.fa-home